

<div class="container mt-5 text-center">
    
    <h1 class="mt-5 text-warning text-center">
        Bienvenido {{ nombre }}
    </h1>

    <img src="https://assets.startbootstrap.com/img/screenshots/premium/sb-admin-pro.png" alt="admin del sistema">
    
</div>


