
<div class="container mt-5">
    <h1>
        Formulario de Productos
    </h1>

    <form class="mt-5" method="post" action="/product">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio">
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="imagen" name="imagen">
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock">
        </div>
        <div class="mb-3 form-check text-center">
            <button type="submit" class="btn btn-success w-25">Cargar Producto</button>
            <button type="reset" class="btn btn-warning w-25">Borrar datos</button>
        </div>
    </form>

</div>